modules = ["nodejs-20", "web", "bash"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "API Server"

[[workflows.workflow]]
name = "API Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd artifacts/api-server && PORT=8080 node dist/index.mjs"
waitForPort = 8080

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 80

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 8082
externalPort = 3002

[[ports]]
localPort = 18115
externalPort = 3000

[[ports]]
localPort = 18116
externalPort = 3001

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
R2_BUCKET_NAME = "netplay-media-storage"
R2_ACCOUNT_ID = "9827b92a6b3a621e8c6f50274e68f37b"
R2_ACCESS_KEY_ID = "9e96806804e8815dfd9580ec062fa0c5"
R2_SECRET_ACCESS_KEY = "854a8ee198112f783b99b870ac9f3299340a88176d5a8c198e35269e8cd3cd3a"
